body{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
    font-size: 12px;
}
/*大盒子*/
/*.box{
    margin: 0 auto;
}*/

/*头部*/
.header{
    min-width: 960px;
    height: 85px;
    background-color: white;
}
.header .top{
    width: 960px;
    height: 85px;
    margin: 0 auto;
}
.header .top .top-logo{
    background: url("../img/logo.png") no-repeat top left;
    background-size: 180px 85px;
    width: 360px;
    height: 85px;
    overflow: hidden;
    float: left;
}

/*中部*/
.centre{
    width: 100%;
    height: 418px;
    background-color: white;
}
.centre .centre-img{
    background: url("../img/signPic.jpg.png") no-repeat;
    height: 470px;
    width: 960px;
    margin: 0 auto;
    
}
.centre .centre-img .right-box{
    width: 346px;
    padding-bottom: 10px;
    float: right;
    /*border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;*/
   	/*background-color: whitesmoke;*/
}
/*登录潮时代*/
.centre .centre-img .right-box .inner-box{
    margin: -16px 23px;
    width: 300px;
}
.centre .centre-img .right-box .inner-box .inner-box-logo{
    height: 60px;
    margin-bottom: 15px;
}
.centre .centre-img .right-box .inner-box-logo h1{
    line-height: 60px;
}

.centre .centre-img .right-box .inner-box .inner-box-logo .inner-box-zc{
    float: right;
    margin-top: -48px;
    color: grey;
}
.centre .centre-img .right-box .inner-box .inner-box-logo .inner-box-zc a{
    color: #3f3f3f;
}
.centre .centre-img .right-box .inner-box .inner-box-logo .inner-box-zc a:hover{
	color: gray;
}

/*手机登录表单*/
.centre .centre-img .right-box .inner-box .form{
    display: block;

}
.centre .centre-img .right-box .inner-box .form .text-box{
    height: 43px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 20px;
}
.centre .centre-img .right-box .inner-box .form .text-box input{
    margin:13px 5px;
    width: 288px;
    border: none;
    outline: none;
}
.centre .centre-img .right-box .inner-box .form .text-box #hint1,#hint2,#hint3,#hint4{
    display: block;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    display: none;
}
.centre .centre-img .right-box .inner-box .form .text-box1{
    width: 136px;
    height: 43px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 27px;
}
.centre .centre-img .right-box .inner-box .form .text-box1 input{
    margin: 13px 5px;
    width: 125px;
    border: none;
    outline: none;
    display: inline-block;
}
.centre .centre-img .right-box .inner-box .form .authcode{
    width: 130px;
    background: linear-gradient(to bottom,#fcfcfc,#f2f2f2);
    border: 1px solid #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    padding: 0 8px;
    line-height: 45px;
    height: 45px;
    font-weight: 700;
    text-align: center;
    margin-left: 152px;
    margin-top: -66px;
}
.centre .centre-img .right-box .inner-box .form .authcode a{
    color: #3f3f3f;
    text-decoration: none;
}

.centre .centre-img .right-box .inner-box .form .password,.centre .centre-img .right-box .inner-box .form .ReDo-password{
	height: 43px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 27px;
}
.centre .centre-img .right-box .inner-box .form .password input,.centre .centre-img .right-box .inner-box .form .ReDo-password input{
	margin:13px 5px;
    width: 288px;
    border: none;
    outline: none
}

.centre .centre-img .right-box .inner-box .form .loginbtn{
    border: 1px solid #3f3f3f;
    display: inline-block;
    font-family: inherit;
    word-break: keep-all;
    background: #3f3f3f;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    height: 40px;
    color: #fff;
    border: 0;
    margin-top: 30px;
}



/*底部*/
.bottom{
	width: 100%;
	height: 210px;
	margin-top: 100px;
}
.bottom .bottom-top{
	height: 80px;
	margin-top: 30px;
	margin: 0 auto;
	text-align: center;
}
.bottom .bottom-icon {
	display: block;
	width: 693px;
	height: 60px;
	margin: 0 auto;
}
.bottom .bottom-icon a{
	width: 126px;
	height: 50px;
	display: inline-block;
	margin-right: 8px;
	background: url("../img/footer_btm_icon.png") no-repeat;
}
.bottom .bottom-icon .i1{
	background-position: 0 0px;
	border-bottom: 1px solid #e0e0e0;
}
.bottom .bottom-icon .i2{
	background-position: -126px 0;
	border-bottom: 1px solid #e0e0e0;
}
.bottom .bottom-icon .i3{
	background-position: -252px 0;
	border-bottom: 1px solid #e0e0e0;
}
.bottom .bottom-icon .i4{
	background-position: -378px 0;
	border-bottom: 1px solid #e0e0e0;
}
.bottom .bottom-icon .i5{
	background-position: -504px 0;
	border-bottom: 1px solid #e0e0e0;
}